<% if @books.blank? %>
	<p>There are not any books currentlly in the system </p>
	<% else %>
	<ul id="books">
	<% @books.each do |c| %>
		<li><%=link_to c.title, {:action => 'show', :id =>c.id} %></li>
		<% end %>
	</ul>
<% end %>
	<p><%= link_to "Add new book",{:action => 'new'} %>
	